.StarredBug_Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(4px);
}

.StarredBug_Container {
    width: 800px;
    max-height: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    align-items: center;

    backdrop-filter: blur(4px);

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
    }

    .StarredBug_Wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: calc(100% - 30px);
        position: relative;
        z-index: 2;

        .StarredBug_TitleHeader {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 20px;
            align-items: center;

            .StarredBug_Title {
                font-family: "caviar dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #ffffff;
                flex: 1;
            }

            .StarredBug_CloseButton {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: filter 0.2s ease-in-out;
                img {
                    width: 100%;
                    height: 100%;
                    filter: var(--inactive-link);
                }

                &:hover {
                    img {
                        filter: var(--active-link);
                    }
                }
            }
        }

        .StarredBug_TitleContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.179518) 100%);
            border-radius: 4px;
            .StarredBug_TitleInput {
                flex-grow: 1;
                flex-basis: 0;
                height: 100%;
                max-height: 150px;
                border: none;
                outline: none;
                background: transparent;
                font-family: "caviar dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #ffffff;
                padding-left: 10px;
                word-wrap: break-word;
                white-space: pre-wrap;
                resize: vertical;
                &::placeholder {
                    color: #ffffff80;
                }
            }
        }

        .StarredBug_DescriptionContainer {
            width: 100%;
            height: 100%;
            min-height: 150px;
            max-height: 200px;
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.179518) 100%);
            border-radius: 4px;
            .StarredBug_DescriptionInput {
                flex-grow: 1;
                flex-basis: 0;
                height: 100%;
                min-height: 150px;
                max-height: 200px;
                border: none;
                outline: none;
                background: transparent;
                font-family: "caviar dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #ffffff;
                padding-left: 10px;
                word-wrap: break-word;
                white-space: pre-wrap;
                resize: vertical;

                &::placeholder {
                    color: #ffffff80;
                }
            }
        }

        .StarredBug_AssigneeSeverityContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            margin-top: 10px;
            gap: 10px;
            .StarredBug_AssigneesContainer {
                display: flex;
                flex-direction: column;
                flex: 1;
                height: 100%;
                .StarredBug_AssigneesTitle {
                    font-family: "caviar dreams";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #ffffff;
                    margin-bottom: 5px;
                }

                .StarredBug_AssigneesCardsContainer {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    overflow-y: hidden;
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0.04) 0%,
                        rgba(255, 255, 255, 0.179518) 100%
                    );
                    border-radius: 4px;
                    align-items: center;
                    .StarredBug_AssigneesCard {
                        width: fit-content;
                        height: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        background: rgba(255, 255, 255, 0.15);
                        border-radius: 100px;
                        margin-left: 5px;
                        padding: 0 10px;
                        cursor: pointer;

                        .StarredBug_AssigneesCardText {
                            font-family: "caviar dreams";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            color: #ffffff;
                        }
                    }
                }
            }
            .StarredBug_SeverityContainer {
                min-width: 150px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .StarredBug_SeverityTitle {
                    font-family: "caviar dreams";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #ffffff;
                    margin-bottom: 5px;
                }

                .StarredBug_SeverityDropdown {
                    width: 100%;
                    height: 30px;
                    min-height: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.15);
                    border-radius: 4px;
                    font-family: "caviar dreams";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }

        .StarredBug_RelatedBugReportsContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
            margin-top: 15px;
            gap: 10px;

            .StarredBug_SearchContainer {
                width: 100%;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background: rgba(255, 255, 255, 0.15);
                border-radius: 4px;
                .StarredBug_SearchIcon {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        filter: var(--active-link);
                    }
                }
                .StarredBug_SearchInput {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-family: "caviar dreams";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #ffffff;
                    padding-left: 10px;
                    &::placeholder {
                        color: #ffffff80;
                    }
                }
                .StarredBug_CrossIcon {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        filter: var(--active-link);
                    }
                }
            }

            .StarredBug_RelatedBugReportsTitle {
                font-family: "caviar dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #ffffff;
                margin-bottom: 5px;
            }

            .BugTask_RelatedBugReportsCardsContainer {
                width: 100%;
                gap: 10px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                overflow-y: auto;
                align-items: center;

                .BugTask_AddCardContainer {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background: rgba(255, 255, 255, 0.15);
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background 0.2s ease-in-out;
                    img {
                        filter: var(--active-link);
                    }
                    &:hover {
                        background: rgba(255, 255, 255, 0.25);
                    }
                }

                .StarredBug_RelatedBugReportsCard {
                    width: 100%;
                    height: 30px;
                    min-height: 30px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.15);
                    border-radius: 4px;
                    cursor: pointer;
                    gap: 10px;
                    &:hover > .StarredBug_SelectedContainer > .StarredBug_SelectedIcon {
                        opacity: 1 !important;
                    }
                    .StarredBug_SelectedContainer {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .StarredBug_SelectedIcon {
                            opacity: 0;
                            transition: opacity 0.2s ease-in-out;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                            img {
                                width: 100%;
                                height: 100%;
                                filter: var(--active-link);
                            }
                        }
                    }
                    .StarredBug_RelatedBugReportsCardText {
                        font-family: "caviar dreams";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        color: #ffffff;
                        user-select: none;
                    }
                }
            }
        }
    }
}

.StarredBug_ButtonContainer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
    gap: 10px;

    .StarredBug_Button {
        width: 100px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 4px;
        font-family: "caviar dreams";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        position: relative;
        &:hover {
            background: rgba(255, 255, 255, 0.25);
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            pointer-events: none;
            content: "";
            border-radius: inherit;
            box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5);
        }
    }
}

.StarredBug_SeverityDropdownMenu {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    margin-top: 5px;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    z-index: 2;

    .StarredBug_SeverityDropdownControl {
        width: 100%;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Dropdown-option {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "caviar dreams";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    }
}

.StarredBug_Placeholder {
    min-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}

.StarredBugComponent_Severe {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(233, 93, 93, 0.5);
    }
}

.StarredBugComponent_Major {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(255, 122, 0, 0.5);
    }
}

.StarredBugComponent_Minor {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(0, 255, 87, 0.5);
    }
}

.StarredBugComponent_Trivial {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(0, 117, 255, 0.5);
    }
}

.StarredBugComponent_Unknown {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5);
    }
}

.always_shown {
    opacity: 100% !important;
}
